<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="USBRelay.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <USBRelay.Properties.Settings>
            <setting name="hotkey1" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="hotkey2" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="hotkey3" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="hotkey4" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="hotkey5" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="hotkey6" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="hotkey7" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="hotkey8" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="triggerOnConditions" serializeAs="String">
                <value>$;$;$;$;$;$;$;$;</value>
            </setting>
            <setting name="triggerOffConditions" serializeAs="String">
                <value>$;$;$;$;$;$;$;$;</value>
            </setting>
        </USBRelay.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
